/*******Buttons-Structure***************/
.buttons-container{
    width: 230px;
    height: 230px;
    margin:10px auto;
    display:flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 50%;
    position:relative;
    background-color: white;
}

/**********Center-Button*****************/
.buttons-center{
    width:50%;
    height:50%;
    border-radius: inherit; 
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: darkgray;
    border:none;
}

/**********Menu-Button*******************/
.button-menu{
  position: absolute;
  display: flex;
  top: 0px;
  width: 50%;
  height: 30%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}

/*********Left-Buttons***************/
.button-left{
  position: absolute;
  display: flex;
  left: 0px;
  width: 25%;
  height: 25%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}

/********Right-Buttons****************/
.button-right{
  position: absolute;
  display: flex;
  right: 0px;
  width: 25%;
  height: 25%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}

/*********Play-Pause-Button************/
.button-play-pause{
  position: absolute;
  display: flex;
  bottom: 0px;
  width: 50%;
  height: 25%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}

/******Buttons-Icon-Color***********/
.svg-inline--fa {
  color: darkgray;
 }