/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App{
  width:min-content;
  padding:10px;
  margin: auto;
  margin-top: 10px;
  border:10px solid lightgray;
  border-radius: 25px;
  background: linear-gradient(to top, #8e9eab, #eef2f3); 
  border-style: groove;
}

.display-container{
    width:330px;
    height:330px;
    margin:auto;
    /* border:1px solid grey; */
    border-radius: 15px;
    background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
    overflow: hidden;
    position:relative;
    background-color: whitesmoke;
  }

.buttons-container{
    width: 250px;
    height: 250px;
    margin:10px auto;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    position:relative;
    background-color: whitesmoke;
}
.buttons-center{
    width:50%;
    height:50%;
    border-radius: inherit; 
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: dimgray;
    border:none;
} 

.button-menu{
  position: absolute;
  display: flex;
  top: 0px;
  width: 50%;
  height: 30%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}

.button-left{
  position: absolute;
  display: flex;
  left: 0px;
  width: 25%;
  height: 25%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}

.button-right{
  position: absolute;
  display: flex;
  right: 0px;
  width: 25%;
  height: 25%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}

.button-play-pause{
  position: absolute;
  display: flex;
  bottom: 0px;
  width: 50%;
  height: 25%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}

.display-menu {
	width: 0%;   
	height: 100%;
	position: absolute;
	left: 0%;
	background: linear-gradient(to right, #000046, #1cb5e0);
  box-shadow: 0px 0px 12px 1px rgb(82, 82, 82);
  box-shadow: none;
  overflow-x: hidden;
  transition: width ease-in-out 0.2s;
  z-index: 10 ;
}

.width-50{
    width:50% !important;
    box-shadow: 0px 0px 12px 1px rgb(82, 82, 82) !important;
}

.display-menu>div{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20%;
    border:1px solid rgb(190, 190, 190);
    box-sizing: border-box;
    white-space: nowrap;/* to turn off text wrapping in the screen menu */
}

 .display-menu h1{
  font-size:20px;
  overflow-wrap: normal;
}
.display-menu p{
  font-size:20px;
  overflow-wrap: normal;
}

.display-menu>.selected {
    background-color:rgb(196, 57, 140);
} 

.logo{
  background: linear-gradient(to right, #f12711, #f5af19);
  color:rgb(255, 255, 255);
  font-size: large;
} 

/****** Dispaly ******/

.display-game
{
    height:100%;
    width:100%;
    background-color: rgba(228, 70, 70, 0.9);
    box-sizing: border-box;
    overflow:hidden;
}

.display-music
{
    height:100%;
    width:100%;
    background-color: white;
    /* background-color: rgb(28, 250, 158); */
    /* background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);   */
  }


.display-setting
{
    height:100%;
    width:100%;
    background-color: rgba(71, 11, 63, 0.9);
    box-sizing: border-box;
    overflow:hidden;
}
.display-gallery
{
    height:100%;
    width:100%;
    background-color: rgba(24, 207, 146, 0.9);
    box-sizing: border-box;
    overflow:hidden;
}
/***** games display*******/
.display-games h1{
  position: absolute;
  display: flex;
  color: whitesmoke; 
  margin: 0.8rem 7.4rem;
  font-weight: bold;
}
.display-games img {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

/******Gallery Display *****/
.display-gallery h1{
  position: absolute;
  display: flex;
  color: whitesmoke; 
  margin: 0.8rem 7.4rem;
  font-weight: bold;
}
.display-gallery img {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
}

/******Setting Display *****/
.display-setting h1{
  position: absolute;
  display: flex;
  color: whitesmoke; 
  margin: 0.8rem 7.4rem;
  font-weight: bold;
}
.display-setting img {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

/**********Artits Display*****************/
.display-artists h1{
  position: absolute;
  display: flex;
  color: whitesmoke; 
  margin: 0.8rem 7.4rem;
  font-weight: bold;
}
.display-artists img {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

/***** Album display*******/
.display-album h1{
  position: absolute;
  display: flex;
  color: whitesmoke; 
  margin: 0.8rem 7.4rem;
  font-weight: bold;
}
.display-album img {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
}

/***** Songs Dispaly *****/
.all-songs
{
    height:100%;
    width:100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    overflow:hidden;
}
.all-songs-heading
{
  color: black;
    padding-bottom:10px;
    background: linear-gradient(to right, #f00000, #dc281e); 
    margin:0px;
    opacity:0.8;
    height:10%;
    text-align: center;
}
.all-songs-list
{
    font-size: 1.3rem;
    font-weight: bolder;
    color: whitesmoke;
    height:86%;
    background: linear-gradient(to right, #34e89e, #0f3443);
}
.all-songs-list>div
{
    border:1px solid rgb(207, 207, 207);
    width:1005;
    height:14%;
    text-align: center;
  }
  .instruction-all-songs
  {
      height:20%;
      background-color: blueviolet;
      color:white;
  }
  .selected-song
  {
      background-color:rgb(255, 166, 0);
  } 

/******** Music Display ******/
.display-music>h2
{
    margin:0px;
    padding:0 ;
    color:rgb(0, 0, 0);
    text-align: center;
}

.song-image
{
    width:82%;
    height:75%;
    margin-left:auto;
    margin-right:auto;
    /* border:5px solid rgb(0, 0, 0); */
    border-radius: 5%;
    box-shadow: 2px 1px 2px #eee, 0px 2px 2px #e9e9e9, 5px 3px 2px #ccc, 5px 4px 2px #c9c9c9, 5px 5px 2px #bbb, 5px 6px 2px #b9b9b9, 0px 7px 2px #999, 0px 7px 2px rgba(0,0,0,.5), 0px 7px 2px rgba(0,0,0,0.1), 0px 7px 2px rgba(0,0,0,.73), 0px 3px 5px rgba(0,0,0,.3), 0px 5px 10px rgba(0,0,0,.37), 0px 10px 10px rgba(0,0,0,.1), 0px 20px 20px rgba(0,0,0,0.1); 
}

.song-image>img
{
    height:100%;
    width:100%;
    border-radius: 5%;
}
.player audio{
  margin: 10px 25px;
  width: 285px;
  height: 30px;
}

@keyframes wheel-color-animation
{
    0%
    {
        background-color:rgb(226, 224, 79);
    }
    25%
    {
        background-color:rgb(157, 229, 157);
    }
    50%
    {
        background-color:rgb(138, 200, 241);
    }
    75%
    {
        background-color:rgb(226, 89, 192);
    }
    100%
    {
        background-color: rgb(136, 223, 114);
    }
}


.colored{
    animation-name: wheel-color-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color:white;
    opacity:0.9;
}
