/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App{
  width:min-content;
  padding:10px;
  margin: auto;
  margin-top: 10px;
  border:5px solid black;
  border-radius: 10px;
}

.display-container{
    width:300px;
    height:300px;
    margin:auto;
    border:1px solid grey;
    border-radius: 5px;
    background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
    overflow: hidden;
    position:relative;
  }

.buttons-container{
    width: 250px;
    height: 250px;
    margin:10px auto;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    position:relative;
}
.buttons-center{
    width:50%;
    height:50%;
    border-radius: inherit; 
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: dimgray;
    border:none;
} 

.button-menu{
  position: absolute;
  display: flex;
  top: 0px;
  width: 50%;
  height: 30%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}

.button-left{
  position: absolute;
  display: flex;
  left: 0px;
  width: 25%;
  height: 25%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}

.button-right{
  position: absolute;
  display: flex;
  right: 0px;
  width: 25%;
  height: 25%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}

.button-play-pause{
  position: absolute;
  display: flex;
  bottom: 0px;
  width: 50%;
  height: 25%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}

.display-menu {
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0%;
	background-color: lightblue;
  box-shadow: 0px 0px 12px 1px rgb(82, 82, 82);
  box-shadow: none;
  overflow-x: hidden;
  transition: width ease-in-out 0.2s;
}

.width-50{
    width:0% !important;
    box-shadow: 0px 0px 12px 1px rgb(82, 82, 82) !important;
}

.display-menu>div{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20%;
    border:1px solid rgb(190, 190, 190);
    box-sizing: border-box;
    white-space: nowrap;/* to turn off text wrapping in the screen menu */
}

 .display-menu h1{
  font-size:20px;
  overflow-wrap: normal;
}
.display-menu p{
  font-size:20px;
  overflow-wrap: normal;
}

.display-menu>.selected {
    background-color:rgb(255, 89, 213);
} 

.logo{
  background-color: rgb(235, 182, 8);
  color:white;
  font-size: large;
} 